/* 1.组合选择器，用逗号隔开每个选择器*/
html,
body,
h1 {
    /* 表示选中以上所有元素 */
}

/* 2.后代选择器，用空格隔开 */
body p {
    /* 表示选中body元素下的所有p元素 */
}

/* 3.id选择器 #符号*/
#top {
    /* 表示选中元素id="top"的标签 */
}

/* 4.class选择器 .符号*/
.unsigned {
    /* 表示选中元素class="unsigned"的所有标签 */
}

/* 5.伪类选择器 :符号 */
li:first-child {
    /* 表示选择所有兄弟元素中的第一个元素且必须是li标签 */
}

p:last-child {
    /* 表示选择所有兄弟元素中的最后一个元素且必须是p标签 */
}

span:nth-child(an+b) {
    /* a,b必须为正整数，n=0,1,2,3... */

    /* 表示选择所有兄弟元素中满足第an+b位置的span标签 */

    /* odd表示奇数位置span，even表示偶数位置span */
}

/* 6.相邻选择器 +符号 */
button+button {
    /* 表示选中button元素的下一个button元素 */
}

/* 7.子代选择器 >符号 */
body>p {
    /* 表示选中body下一级的所有p元素，不含孙子级的p元素 */
}