<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1,width=device-width" />
    <title>Css Flex Layout</title>
    <link href="flex.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Css Flex Layout</h1>

    <div class="container">
      <div class="el el-1">1</div>
      <div class="el el-2">2</div>
      <div class="el el-3">3</div>
      <div class="el el-4">4</div>
      <div class="el el-5">5</div>
      <div class="el el-6">6</div>
    </div>

    <h2>左侧固定，右侧自动</h2>
    <div class="flex-container">
      <div class="items flex-left">左边</div>
      <div class="items flex-right">右边</div>
    </div>
  </body>
</html>
