/* 现在css布局：grid布局 */
.container {
    background-color: #777;
    /* 设置为grid容器 */
    display: grid;
    /* 创建列宽 fr表示等宽自动收缩*/
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* 使用repeat函数创建等宽的列 （列数，列宽）*/
    grid-template-columns: repeat(3, 1fr);
    /* auto单位表示列宽仅为内容所需的宽度 */
    /* grid-template-columns: 1fr 1fr auto; */
    /* 创建行高 */
    grid-template-rows: 200px 100px;
    /* grid-template-rows: 1fr 2fr; */

    /* 创建行和列之间的间隙 */
    gap: 12px;
}

.items {
    font-size: 64px;

    /* grid item属性 */
    /* 
        设置网格项进入某个网格单元
        grid-column: 起始列编号 / 结束列编号
        grid-row: 起始行编号 / 结束行编号
    */

    /* 
        对齐属性
        1.相对容器对齐
        justify-content:center;
        align-content:center;

        2.网格内对齐
        justify-items:center;
        align-items:center;
    */
}

.item-1 {
    background-color: olive;
    /* 跨域多列和多行 */
    grid-column: 2 / 4;
    /* -1表示最后一行或者一列 */
    grid-row: 1 / -1;
}

.item-2 {
    background-color: tomato;
    /* 进入最后一个单元格 */
    grid-column: 3/4;
    grid-row: 2/3;
}

.item-3 {
    background-color: teal;
}

.item-4 {
    background-color: firebrick;
}

.item-5 {
    background-color: fuchsia;
    /* height: 150px; */
}

.item-6 {
    background-color: salmon;
    /* 进入第一个单元格 */
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid {
    background-color: #444;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 200px 120px;

    /* 相对容器水平居中对齐，垂直居中对齐 */
    justify-content: center;
    align-content: center;
    /* height: 350px; */

    /* 相对单元格水平居中，垂直居中对齐 */
    justify-items: center;
    align-items: center;
}

.el {
    font-size: 32px;

}

.el-1 {
    background-color: olive;

}

.el-2 {
    background-color: tomato;


}

.el-3 {
    background-color: teal;
}

.el-4 {
    background-color: firebrick;
}

.el-5 {
    background-color: fuchsia;

}

.el-6 {
    background-color: salmon;

}