<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1,width=device-width" />
    <title>Css Grid Layout</title>
    <link href="grid.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Css Grid Layout</h1>

    <div class="container">
      <div class="items item-1">1</div>
      <div class="items item-2">2</div>
      <div class="items item-3">3</div>
      <div class="items item-4">4</div>
      <div class="items item-5">5</div>
      <div class="items item-6">6</div>
    </div>

    <h2>Grid 对齐</h2>
    <div class="grid">
      <div class="el el-1">1</div>
      <div class="el el-2">2</div>
      <div class="el el-3">3</div>
      <div class="el el-4">4</div>
      <div class="el el-5">5</div>
      <div class="el el-6">6</div>
    </div>
  </body>
</html>
